.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found-img {
  width: 300px;
}

.not-found-heading {
  color: #334155;
  font-size: 28px;
  margin-top: 10px;
}

.not-found-text {
  color: #475569;
  font-size: 15px;
  margin-top: 10px;
}
